

  @font-face {
    font-family: Simp; 
    src: url(/fonts/simplifica.ttf) format('truetype'); 
    font-weight: normal;
}

body
{
    background-color: #2E3047;
    font-family: 'Simp';
}

h1
{
    font-family: 'Simp';
    color: #3BBA9C;
}

h2
{
    color: #3C3F58;
}

h3
{
    color: #43455C;
}

p
{
    color:#3BBA9C;
}

.border-circle
{
    border: 1px solid #707793;
    border-radius: 20px;
}

#title
{
    font-size: 108px;
    margin-bottom: 0;
}

.text-center
{
    text-align: center;
}

