
.white
{
    animation-name: pressColor;
    box-shadow: 1px 0px 3px 5px;
    top: 4px;
}

@keyframes pressColor
{
    0% { color: #ffffffb3; background-color: #5D5D5Db3;}
    100% {color: #ffffffff; background-color: #5D5D5Dff;}
}



.red
{
    animation-name: redColor;   
}

@keyframes redColor
{
    0% { color: #fc0e3480; background-color: #5D000080;}
    100% {color: #fc0e34ff; background-color: #5D0000ff;}
}

.orange
{
    animation-name: orangeColor;   
}

@keyframes orangeColor
{
    0% { color: #ffcf0980; background-color: #61490080;}
    100% {color: #ffcf09ff; background-color: #614900ff;}
}

.yellow
{
    animation-name: yellowColor;   
}

@keyframes yellowColor
{
    0% { color: #dfff1180; background-color: #45420b80;}
    100% {color: #dfff11ff; background-color: #45420bff;}
} 

.green
{
    animation-name: greenColor;   
}

@keyframes greenColor
{
    0% { color: #21fc0d80; background-color: #2e4c0180;}
    100% {color: #21fc0dff; background-color: #2e4c01ff;}
} 

.teal
{
    animation-name: tealColor;   
}

@keyframes tealColor
{
    0% { color: #01f9c680; background-color: #14542d80;}
    100% {color: #01f9c6ff; background-color: #14542dff;}
} 

.cyan
{
    animation-name: cyanColor;   
}

@keyframes cyanColor
{
    0% { color: #0ff0fc80; background-color: #285d5380;}
    100% {color: #0ff0fcff; background-color: #285d53ff;}
} 

.blue
{
    animation-name: blueColor;   
}

@keyframes blueColor
{
    0% { color: #6600ff80; background-color: #05034780;}
    100% {color: #6600ffff; background-color: #050347ff;}
} 

.magenta
{
    animation-name: magentaColor;   
}

@keyframes magentaColor
{
    0% { color: #ff08e880; background-color: #45086780;}
    100% {color: #ff08e8ff; background-color: #450867ff;}
} 

.pink
{
    animation-name: pinkColor;   
}

@keyframes pinkColor
{
    0% { color: #f800a380; background-color: #5c024a80;}
    100% {color: #f800a3ff; background-color: #5c024aff;}
} 

.purple
{
    animation-name: purpleColor;   
}

@keyframes purpleColor
{
    0% { color: #bc13fe80; background-color: #2b034180;}
    100% {color: #bc13feff; background-color: #2b0341ff;}
} 