@font-face {
    font-family: simplifica;
    src: url(SIMPLIFICA.ttf);
  }

.headerText
{
    text-align: center;
    font-size: 30px;
    color: #d0d1d3;
    margin: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }

  table {
    border-collapse: collapse;
 }

.numberText
{
    background-color: #0A0A08;
    background-repeat:no-repeat;
    cursor:pointer;
    border: 1px solid black;
    font-size: 40px;
    text-align: center;
    box-shadow: 1px 1px 3px 7px #5e7783;
    border-radius: 20%;
    color: #d0d1d3;
    display:flex;
    justify-content:center;
    align-items:center;
}

.rightAlign
{
    text-align: right;
}

.pressedButton
{
    background-color:  #5e7783;
    box-shadow: none;
}

body
{
    user-select: none;
    background-color: #0A0A08;
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    font-family: 'simplifica';
    letter-spacing: 3px;
    font-size: 40px;
}

.errorButton
{
    background-color: #4d1635;
    box-shadow: none;
}

.buttonSize
{
    width: 60px;
    height: 60px;
}


.buttonResetSize
{
    width: 160px;
    height: 80px;
}

#buttonReset
{
    background-color: #9e9199;
    cursor:pointer;
    border: 1px solid black;
    font-size: 40px;
    text-align: center;
    color: #d0d1d3;
    box-shadow: 3px 3px 3px 3px #5e7783;
    font-family: 'simplifica';
}

p
{
    margin: 10px;
}

#resizeimg
{
    max-width: 100%;
    height: auto;
}

#buttonOctopus
{
    background: #5e7783;
    background: linear-gradient(0deg, rgba(94,119,131,1) 100%, rgba(17,36,50,1) 100%);
    margin: 0px 3px;
    cursor:pointer;
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    box-shadow: 1px 1px 3px 7px #5e7783;
    border-radius: 50%;
    color: #d0d1d3;
    width: 70px;
    height: 70px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#mainGame
{
    display:flex;
    justify-content:center;
    align-items:center;
}

div
{
    margin: 3px 8px;
}

#mainGame
{
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
 
 .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
 }

 
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }
 
 .show
 {
    opacity: 1;
    display: block;
    visibility: visible;
 }

 .hide
 {
    opacity: 0 !important;
    display: none !important;
    visibility: hidden;
 }

 #boxSize
 {
     border: 1px solid green;
     width: 240px;
     height: 240px; 
 }

 .break {
    flex-basis: 100%;
    height: 0;
  }