
.white
{
    animation-name: pressColor;
    box-shadow: 1px 0px 3px 5px;
    top: 4px;
}

@keyframes pressColor
{
    0% { color: #ffffff; opacity: 0.5;}
    100% {color: #ffffff; opacity: 1;}
    
}

.yellow
{
    animation-name: yellowColor;
    text-shadow: 0px 0px 10px yellow;  
    animation-duration: 0.2s;
}

@keyframes yellowColor
{
    0% { color: #dfff11; -webkit-box-shadow: 1px 0px 3px 5px #dfff11; top: 0px; opacity: 0.5;}
    100% {color: #dfff11; -webkit-box-shadow: 1px 1px 1px 5px #dfff11; top: 4px; opacity: 1;}
} 

.cyan
{
    animation-name: cyanColor; 
    text-shadow: 0px 0px 10px cyan;  
    animation-duration: 0.5s;
}

@keyframes cyanColor
{
    0% { color: #0ff0fc; -webkit-box-shadow: 1px 0px 3px 5px #0ff0fc; top: 4px; opacity: 0.5;}
    100% {color: #0ff0fc; -webkit-box-shadow: 1px 3px 3px 5px #4CC2F4; top: 0px; opacity: 1;}
} 

.yellowText
{
    animation-name: yellowColorText;
    text-shadow: 0px 0px 10px yellow;   
}

@keyframes yellowColorText
{
    0% { color: #dfff11; opacity: 0.5;}
    100% {color: #dfff11; opacity: 1;}
} 

.cyanText
{
    animation-name: cyanColorText; 
    text-shadow: 0px 0px 10px cyan;  
}

@keyframes cyanColorText
{
    0% { color: #0ff0fc; opacity: 0.5;}
    100% {color: #0ff0fc; opacity: 1;}
} 
