body
{
    background-color: #dc3731;
}

body ::selection {
    background: #1b1b1b;
    color: #fff;
}

#bottom_body_margin
{
    height: 20px;
    background: white;
    width: 100%;
    bottom: 0px;
    position: fixed;
    z-index: 10;
}

#top_body_margin
{
    height: 20px;
    background: white;
    width: 100%;
    top: 0px;
    position: fixed;
}

#left_body_margin
{
    width: 20px;
    background: white;
    height: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
}

#right_body_margin
{
    width: 20px;
    background: white;
    height: 100%;
    right: 0px;
    top: 0px;
    position: fixed;
    
}

#logo
{
    top: 50px;
    left: 50px;
    position: fixed;
}

#first_page
{
    background-color: #dc3731;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column
{
    flex: 1;
}


#white_slogan
{
    margin: 0px;
    font-style: normal;
    font-weight: 700;
    font-family: "Montserrat";
    line-height: 50px;
    text-transform: none;
    letter-spacing: -2px;
    color: white;
    font-size: 45px;
}

#black_slogan
{
    margin: 0px;
    font-style: normal;
    font-weight: 700;
    font-family: "Montserrat";
    line-height: 50px;
    text-transform: none;
    letter-spacing: -2px;
    color: black;
    font-size: 45px;
}

.white_text
{
    color: white;
}

.left_space_25
{
    margin-left: 25%;
}

.service_text_description
{
    background: white;
    display: inline-block;
    padding: 5px;
    color: #212121;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 11px;
}

#primoscroll
{
    bottom: 0px;
    position: absolute;
    z-index: 1;
}